@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

.title {
    font-size: 28px;
    line-height: 40px;
    line-height: 4rem;
    letter-spacing: 0px;
    letter-spacing: 0rem;
    font-weight: 300;
    color: #757575;
    text-transform: inherit;
  }

  
.light-bulb #bulb {
    fill: #dce7eb;
  }
  .light-bulb #wires {
    fill: #adc4c9;
  }
  .light-bulb #filament {
    fill: #adc4c9;
    opacity: 0.5;
  }
  .light-bulb.is-activated #bulb {
    fill: #FFC843;
  }
  .light-bulb.is-activated #wires {
    fill: #D49000;
  }
  .light-bulb.is-activated #filament {
    fill: #fff;
    opacity: 1;
  }
  
  #blockLight{
      margin-bottom: 2%;
  }