<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <div *ngIf="!responsive" fxFlex="80">
      <div class="title">Ajouter un scénario</div>
      <mat-horizontal-stepper linear="isLinear" #stepper>
        <mat-step [stepControl]="knxGroup">
          <form [formGroup]="knxGroup">
            <div fxLayout="column">
              <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex.gt-sm="100" fxFlex="50">
                  <mat-form-field>
                    <mat-label>Machine Knx</mat-label>
                    <mat-select formControlName="selectKnxControl" required>
                      <mat-option *ngFor="let knx of arrayKnx" [value]="knx">
                        {{knx.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="100" fxFlex="50">
                  <mat-form-field>
                    <mat-label>Nom du Scenario</mat-label>
                    <input matInput placeholder="entrer le nom du scénario" formControlName="inputNameScenarioControl"
                      required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
                <p style="float: right; display: inline-block; white-space: nowrap;clear:right;" (click)="setCurrentLampArray()"><button mat-button
                  mat-raised-button color="primary" matStepperNext>Suivant</button></p>
            </div>
            <ng-template matStepLabel>Choix de la machine Knx</ng-template>
          </form>
        </mat-step>
        <mat-step [stepControl]="lampGroup">
          <form [formGroup]="lampGroup">
            <div fxLayout="column">
              <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="100">
                  <mat-form-field style="width:50%">
                    <mat-label>Lampes </mat-label>
                    <mat-select formControlName="selectLampControl" required multiple>
                      <mat-option *ngFor="let lamp of arrayLamp" [value]="lamp">
                        {{lamp.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="10">
                  {{ action }}
                </div>
                <div fxFlex="40">
                  <mat-slide-toggle [checked]="false" (change)="changeAction($event)"></mat-slide-toggle>
                </div>
              </div>
            </div>
            <ng-template matStepLabel>Lampe</ng-template>
            <p style="float: right; display: inline-block; white-space: nowrap;clear:right;"><button mat-button
              color="primary" mat-raised-button matStepperNext>Suivant</button></p>          
            </form>
        </mat-step>
        <mat-step [stepControl]="repetitionsGroup">
          <form [formGroup]="repetitionsGroup">
            <div fxLayout="column">
              <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="40">
                  <mat-form-field style="width:40%">
                    <input type="time" matInput placeholder="Entrer l'heure" formControlName="inputTimeControl" required>
                  </mat-form-field>
                </div>
                <div fxFlex="60">
                  <mat-form-field>
                    <mat-label>Type de répétition</mat-label>
                    <mat-select multiple formControlName="selectRepetitionControl" required>
                      <mat-option *ngFor="let valeur of repetitionList" [value]="valeur">{{valeur}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <ng-template matStepLabel>Horaire</ng-template>
            <p style="float: right; display: inline-block; white-space: nowrap;clear:right;"><button mat-button
              color="primary" mat-raised-button matStepperNext (click)="recapObject()">Suivant</button></p>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel icon>Validation</ng-template>
          <mat-list>
            <p> Recapitulatif et validation du scénario</p>
            <p>Nom du scnénario : {{scenarioObj.name+" | "}}action:{{" "+action}}</p>
            <mat-list-item>
              <h3 mat-subheader> Machine KNX: </h3>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{scenarioObj.nameKnx}}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 mat-subheader>lampes:</h3>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line *ngFor="let lamp of scenarioObj.lights">{{lamp.name}}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 mat-subheader>Heure et répétition:</h3>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{scenarioObj.time.hours+":"+scenarioObj.time.minutes}} --- Répétition tous les :
                {{scenarioObj.repetition}}</h4>
            </mat-list-item>
            <mat-list-item>
              <button mat-button mat-raised-button (click)="createNewScenario();stepper.reset()"
                color="primary">Valider</button>
            </mat-list-item>
          </mat-list>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

    <div *ngIf="responsive" fxFlex="80">
        <mat-vertical-stepper linear="isLinear" #stepper>
          <mat-step [stepControl]="knxGroup">
            <form [formGroup]="knxGroup">
              <div fxLayout="column">
                <div fxLayout="row" fxLayout.lt-sm="column">
                  <div fxFlex.gt-sm="100" fxFlex="50">
                    <mat-form-field>
                      <mat-label>Machine Knx</mat-label>
                      <mat-select formControlName="selectKnxControl" required>
                        <mat-option *ngFor="let knx of arrayKnx" [value]="knx">
                          {{knx.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex.gt-sm="100" fxFlex="50">
                    <mat-form-field>
                      <mat-label>Nom du Scenario</mat-label>
                      <input matInput placeholder="entrer le nom du scénario" formControlName="inputNameScenarioControl"
                        required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div>
                  <p style="float: right; display: inline-block; white-space: nowrap;clear:right;"><button mat-button
                    color="primary" mat-raised-button matStepperNext (click)="setCurrentLampArray()">Suivant</button></p>  
              </div>
              <ng-template matStepLabel>Choix de la machine Knx</ng-template>
            </form>
          </mat-step>
          <mat-step [stepControl]="lampGroup">
            <form [formGroup]="lampGroup">
              <div fxLayout="column">
                <div fxLayout="row" fxLayout.lt-sm="column">
                  <div fxFlex="100">
                    <mat-form-field style="width:50%">
                      <mat-label>Lampes </mat-label>
                      <mat-select formControlName="selectLampControl" required multiple>
                        <mat-option *ngFor="let lamp of arrayLamp" [value]="lamp">
                          {{lamp.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="50">
                    {{ action }}
                  </div>
                  <div fxFlex="50">
                    <mat-slide-toggle [checked]="false" (change)="changeAction($event)"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <ng-template matStepLabel>Lampe</ng-template>
              <button mat-button mat-raised-button color="primary" matStepperNext>Suivant</button>
            </form>
          </mat-step>
          <mat-step [stepControl]="repetitionsGroup">
            <form [formGroup]="repetitionsGroup">
              <div fxLayout="column">
                <div fxLayout="row" fxLayout.lt-sm="column">
                  <div fxFlex="40">
                    <mat-form-field style="width:40%">
                      <input type="time" matInput placeholder="entrer l'heure" formControlName="inputTimeControl" required>
                    </mat-form-field>
                  </div>
                  <div fxFlex="60">
                    <mat-form-field>
                      <mat-label>Type de répétition</mat-label>
                      <mat-select multiple formControlName="selectRepetitionControl" required>
                        <mat-option *ngFor="let valeur of repetitionList" [value]="valeur">{{valeur}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <ng-template matStepLabel>Horaire</ng-template>
              <button mat-button mat-raised-button color="primary" matStepperNext (click)="recapObject()">Suivant</button>
            </form>
          </mat-step>
  
          <mat-step>
            <ng-template matStepLabel icon>Validation</ng-template>
            <mat-list>
              <p> Recapitulatif et validation du scénario</p>
              <p>Nom du scnénario : {{scenarioObj.name+" | "}}action:{{" "+action}}</p>
              <mat-list-item>
                <h3 mat-subheader> Machine KNX: </h3>
              </mat-list-item>
              <mat-list-item>
                <h4 mat-line>{{scenarioObj.nameKnx}}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h3 mat-subheader>lampes:</h3>
              </mat-list-item>
              <mat-list-item>
                <h4 mat-line *ngFor="let lamp of scenarioObj.lights">{{lamp.name}}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <h3 mat-subheader>Heure et répétition:</h3>
              </mat-list-item>
              <mat-list-item>
                <h4 mat-line>{{scenarioObj.time.hours+":"+scenarioObj.time.minutes}} --- Répétition tous les :
                  {{scenarioObj.repetition}}</h4>
              </mat-list-item>
              <mat-list-item>
                  <p style="float: right; display: inline-block; white-space: nowrap;clear:right;">< <button mat-button mat-raised-button (click)="createNewScenario();stepper.reset()"
                    color="primary">Valider</button></p>             
              </mat-list-item>
            </mat-list>
          </mat-step>
        </mat-vertical-stepper>
      </div>



  </div>
  <div fxLayout="column">
  <div fxLayout="row" style ="margin-top:4%">
    <div fxFlex.gt-lg="75" fxFlex.gt-sm="50"></div>
    <div fxFlex.gt-lg="25" fxFlex.gt-sm="50">
      <button mat-raised-button color="error" (click)="removeSelectedRows()">
          Supprimer les lignes séléctionnées
        </button>
    </div>
  </div>
  <div fxLayout="row" style="margin-top:20px" fxLayoutAlign="center">
    <mat-table #table [dataSource]="dataSource" matSort fxFlex="80">

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

      <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>
  </div>
  
</div>

</div>
