/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body{
    height: 100%;
}

.default-snackbar{
    background: rgb(41, 43, 41); 
}

.success-snackbar{
    background: rgb(1, 161, 28); 
}

.warning-snackbar{
    background: yellow;
}

.error-snackbar{
    background: red;
}