
<h1 mat-dialog-title>Ajout de lampe</h1>
  <div mat-dialog-content style="height: 150px">
    {{data.sentence}}
    <form [formGroup]="lampsGroup" > 
      <div fxLayout="row">
        <div fxFlex="100">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="ID" [(ngModel)]="idLamp" formControlName="inputNameLampControl"  required>
          </mat-form-field>
        </div>
        <div fxFlex="100">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nom" [(ngModel)]="nameLamp"  formControlName="inputIdLampControl"  required>
            </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions>
          <div fxFlex></div>
          
          <button mat-button (click)="onNoClick()">Annuler</button>
          <button mat-button  type="submit" (click)="addLight()" cdkFocusInitial>Valider</button>
        </div>
    </form>
  </div>

