<div fxLayout="column">
  <div fxLayout="row" id="blockLight" fxLayoutAlign="center">
    
    <mat-horizontal-stepper fxFlex="80" [linear]="isLinear"> 
        <mat-step [stepControl]="knxGroup">
            <form [formGroup]="knxGroup">  
            
              <div fxLayout="row">
                  <div fxFlex="25">
                    <p>Paramètrage réseau </p>
                  </div>
                  <div fxFlex="25">
                    <mat-form-field class="example-full-width">
                       <!-- <input matInput placeholder="Nom machine" [(ngModel)]="inputNameKnx" [formControl]="inputNameKnxControl" required>-->
                    </mat-form-field>
                  </div>
                  <div fxFlex="25">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Adresse IP" [(ngModel)]="inputIpKnx" [formControl]="inputIpKnxControl" required>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Port "  [(ngModel)]="inputPortKnx" [formControl]="inputPortControl" required>
                    </mat-form-field>
                  </div>
              </div>

            <ng-template matStepLabel>Paramètrage Serveur</ng-template>  
            <button mat-button mat-raised-button color="primary" matStepperNext>Suivant</button>        
          </form>
        </mat-step>
    
        <mat-step [stepControl]="lampsGroup">
          <form [formGroup]="lampsGroup">
          
            <div fxLayout="row">
                  <div fxFlex="25">
                      <p>Ajouter une lampes </p>
                  </div>
                  <div fxFlex="25">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="ID" [(ngModel)]="inputIdLamp" formControlName="inputNameLampControl"  required>
                    </mat-form-field>
                  </div>
                  <div fxFlex="25">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Nom " [(ngModel)]="inputNameLamp"  formControlName="inputIdLampControl"  required>
                      </mat-form-field>
                  </div>
                  <div fxFlex="25">
                      <button mat-button color="primary" (click)="addNewLamp()" >Ajouter</button>                  
                  </div>
              </div>


              <mat-grid-list cols="2" rowHeight="50px">
                <div *ngFor="let lamp of arrayNewLamp">
                  <mat-grid-tile><p> Id : {{ lamp.id }} </p></mat-grid-tile>
                  <mat-grid-tile><p> Nom : {{ lamp.name }} </p></mat-grid-tile>
                </div>
                </mat-grid-list>
            

            <ng-template matStepLabel>Ajouts des éléments </ng-template>
            <button mat-button mat-raised-button color="primary" matStepperNext>Suivant</button>          
            <button mat-button mat-raised-button color="" matStepperPrevious>Retour</button>        
          </form>
        </mat-step>
    
        <mat-step>
          <ng-template matStepLabel icon>Connection</ng-template>
           Le paramétrage est fini vous pouvez vous connecter      
          <button mat-button mat-raised-button (click)="createNewKnxMachine()" color="primary" >Connection</button>      
        </mat-step>
    </mat-horizontal-stepper>
  </div>

<br>
<br>
<br>
    <mat-card fxFlex="80"  *ngFor="let knx of arrayKnx; index as i" style="margin-bottom: 20px;margin-left:10%;margin-right:10%">
      <mat-card-title>
        Machine KNX : {{ knx.name }}  <button mat-button style="float:right" (click)="deleteKnxMachine(knx._id)"><mat-icon aria-label="toggle icon">delete</mat-icon></button>

      </mat-card-title>
      <mat-card-content>
        <div fxLayout="column">
          <div fxLayout="row" style="margin-left: 20px">
              <div fxFlex="90">
                <p>Connection à Knx </p>
              </div>
              <div fxFlex="10">
                <mat-slide-toggle  [checked]="true" (change)="connect($event)"></mat-slide-toggle>
              </div>
          </div>


          <mat-accordion fxFlex="50">
              <mat-expansion-panel  class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      Paramètrage réseau
                  </mat-panel-title>
                  <mat-panel-description>
                     Modifier 
                  </mat-panel-description>
                </mat-expansion-panel-header>
                
                <div fxLayout="row">
                    <div fxFlex="80">
                      <p>Adresse IP : {{ knx.ipAddr}}</p>
                    </div>
                    <div fxFlex="20">
                        <div fxLayout="row">
                          <div fxFlex="50">
                            <button mat-button><mat-icon aria-label="toggle icon">edit</mat-icon></button>
                          </div>  
                        </div>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="80">
                      <p> Port : {{ knx.port}}</p>
                    </div>
                    <div fxFlex="20">
                        <div fxLayout="row">
                          <div fxFlex="50">
                            <button mat-button><mat-icon aria-label="toggle icon">edit</mat-icon></button>
                          </div>  
                        </div>
                    </div>
                </div>
                      
                </mat-expansion-panel>
              </mat-accordion>


  
          

          <mat-accordion fxFlex="50">
              <mat-expansion-panel  class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Paramètrage des lampes
                  </mat-panel-title>
                  <mat-panel-description>
                    Ajouter | Modifier | Supprimer
                  </mat-panel-description>
                </mat-expansion-panel-header>
                
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxFlex="80">
                          <p>Ajouter des lumières </p>
                        </div>
                        <div fxFlex="20">
                          <button mat-button (click)="openDialog()"><mat-icon aria-label="toggle icon">add</mat-icon></button>                  
                        </div>
                    </div>
                    <div fxLayout="row" *ngFor="let numero of knx.lights">
                        <div fxFlex="80">
                          <p>Lampe {{ numero.name }} | ID {{ numero.id }}</p>
                        </div>
                        <div fxFlex="20">
                            <div fxLayout="row">
                              <div fxFlex="50">
                                <button mat-button><mat-icon aria-label="toggle icon">edit</mat-icon></button>
                              </div>
                              <div fxFlex="50">
                                <button mat-button><mat-icon aria-label="toggle icon">delete_sweep</mat-icon></button>
                              </div>    
                            </div>
                        </div>
                    </div>
                  </div>
                      
                </mat-expansion-panel>
              </mat-accordion>
            </div>
      </mat-card-content>
    </mat-card> 
</div>