<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="auth.loggedIn" #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" *ngIf="auth.loggedIn">Acceuil</a>
      <a mat-list-item [routerLink]="'/setting'" *ngIf="auth.loggedIn">Paramètres</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        
      </button>
      <span>Kniot</span>
      <span flex></span>
      <div *ngIf="auth.loggedIn">
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon aria-label="toggle icon">account_circle</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button (click)="logout()"  mat-menu-item>Se deconnecter</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
